In [0]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import Imputer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import accuracy_score

In [2]:
url = 'https://raw.githubusercontent.com/pravass/Shampoo-Sales-Data/master/nba_2013.csv'
df = pd.read_csv(url)
df.head()

          player pos  age bref_team_id  ...   pf   pts     season  season_end
0     Quincy Acy  SF   23          TOT  ...  122   171  2013-2014        2013
1   Steven Adams   C   20          OKC  ...  203   265  2013-2014        2013
2    Jeff Adrien  PF   27          TOT  ...  108   362  2013-2014        2013
3  Arron Afflalo  SG   28          ORL  ...  136  1330  2013-2014        2013
4  Alexis Ajinca   C   25          NOP  ...  187   328  2013-2014        2013

[5 rows x 31 columns]

In [3]:
df.shape

(481, 31)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 31 columns):
player          481 non-null object
pos             481 non-null object
age             481 non-null int64
bref_team_id    481 non-null object
g               481 non-null int64
gs              481 non-null int64
mp              481 non-null int64
fg              481 non-null int64
fga             481 non-null int64
fg.             479 non-null float64
x3p             481 non-null int64
x3pa            481 non-null int64
x3p.            414 non-null float64
x2p             481 non-null int64
x2pa            481 non-null int64
x2p.            478 non-null float64
efg.            479 non-null float64
ft              481 non-null int64
fta             481 non-null int64
ft.             461 non-null float64
orb             481 non-null int64
drb             481 non-null int64
trb             481 non-null int64
ast             481 non-null int64
stl             481 non-null int64
blk             481 non-null int64
tov             481 non-null int64
pf              481 non-null int64
pts             481 non-null int64
season          481 non-null object
season_end      481 non-null int64
dtypes: float64(5), int64(22), object(4)
memory usage: 116.6+ KB

In [5]:
df.describe()

              age           g          gs  ...          pf          pts  season_end
count  481.000000  481.000000  481.000000  ...  481.000000   481.000000       481.0
mean    26.509356   53.253638   25.571726  ...  105.869023   516.582121      2013.0
std      4.198265   25.322711   29.658465  ...   71.213627   470.422228         0.0
min     19.000000    1.000000    0.000000  ...    0.000000     0.000000      2013.0
25%     23.000000   32.000000    0.000000  ...   44.000000   115.000000      2013.0
50%     26.000000   61.000000   10.000000  ...  104.000000   401.000000      2013.0
75%     29.000000   76.000000   54.000000  ...  158.000000   821.000000      2013.0
max     39.000000   83.000000   82.000000  ...  273.000000  2593.000000      2013.0

[8 rows x 27 columns]

In [6]:
df.isna().sum()

player           0
pos              0
age              0
bref_team_id     0
g                0
gs               0
mp               0
fg               0
fga              0
fg.              2
x3p              0
x3pa             0
x3p.            67
x2p              0
x2pa             0
x2p.             3
efg.             2
ft               0
fta              0
ft.             20
orb              0
drb              0
trb              0
ast              0
stl              0
blk              0
tov              0
pf               0
pts              0
season           0
season_end       0
dtype: int64

In [7]:
df.duplicated().any()

False

In [0]:
df.drop('player',axis=1,inplace=True)

In [0]:
df.drop('bref_team_id',axis=1,inplace=True)

In [0]:
df.drop('season',axis=1,inplace=True)

In [0]:
df.drop('season_end',axis=1,inplace=True)

In [12]:
df.columns

Index(['pos', 'age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa',
       'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb',
       'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts'],
      dtype='object')

In [13]:
df['pos'].value_counts()

SG    109
SF     99
PF     96
C      90
PG     85
F       1
G       1
Name: pos, dtype: int64

In [14]:
pos_new = pd.get_dummies(df['pos'],prefix='pos',drop_first=True)
pos_new.head()

   pos_F  pos_G  pos_PF  pos_PG  pos_SF  pos_SG
0      0      0       0       0       1       0
1      0      0       0       0       0       0
2      0      0       1       0       0       0
3      0      0       0       0       0       1
4      0      0       0       0       0       0

In [0]:
df.drop('pos',axis=1,inplace=True)

In [0]:
df = pd.concat([df,pos_new],axis=1)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 32 columns):
age       481 non-null int64
g         481 non-null int64
gs        481 non-null int64
mp        481 non-null int64
fg        481 non-null int64
fga       481 non-null int64
fg.       479 non-null float64
x3p       481 non-null int64
x3pa      481 non-null int64
x3p.      414 non-null float64
x2p       481 non-null int64
x2pa      481 non-null int64
x2p.      478 non-null float64
efg.      479 non-null float64
ft        481 non-null int64
fta       481 non-null int64
ft.       461 non-null float64
orb       481 non-null int64
drb       481 non-null int64
trb       481 non-null int64
ast       481 non-null int64
stl       481 non-null int64
blk       481 non-null int64
tov       481 non-null int64
pf        481 non-null int64
pts       481 non-null int64
pos_F     481 non-null uint8
pos_G     481 non-null uint8
pos_PF    481 non-null uint8
pos_PG    481 non-null uint8
pos_SF    481 non-null uint8
pos_SG    481 non-null uint8
dtypes: float64(5), int64(21), uint8(6)
memory usage: 100.6 KB

In [18]:
df.isna().sum()

age        0
g          0
gs         0
mp         0
fg         0
fga        0
fg.        2
x3p        0
x3pa       0
x3p.      67
x2p        0
x2pa       0
x2p.       3
efg.       2
ft         0
fta        0
ft.       20
orb        0
drb        0
trb        0
ast        0
stl        0
blk        0
tov        0
pf         0
pts        0
pos_F      0
pos_G      0
pos_PF     0
pos_PG     0
pos_SF     0
pos_SG     0
dtype: int64

In [0]:
df['fg.'].fillna(df['fg.'].median(),inplace=True)

In [0]:
df['x3p.'].fillna(df['x3p.'].median(),inplace=True)

In [0]:
df['x2p.'].fillna(df['x2p.'].median(),inplace=True)

In [0]:
df['efg.'].fillna(df['efg.'].median(),inplace=True)

In [0]:
df['ft.'].fillna(df['ft.'].median(),inplace=True)

In [24]:
df.isna().sum()

age       0
g         0
gs        0
mp        0
fg        0
fga       0
fg.       0
x3p       0
x3pa      0
x3p.      0
x2p       0
x2pa      0
x2p.      0
efg.      0
ft        0
fta       0
ft.       0
orb       0
drb       0
trb       0
ast       0
stl       0
blk       0
tov       0
pf        0
pts       0
pos_F     0
pos_G     0
pos_PF    0
pos_PG    0
pos_SF    0
pos_SG    0
dtype: int64

In [25]:
df_y = df['pts']
df_y.head()

0     171
1     265
2     362
3    1330
4     328
Name: pts, dtype: int64

In [26]:
df_x = df.drop(['pts'], 1)
df_x.head()

   age   g  gs    mp   fg   fga  ...  pos_F  pos_G  pos_PF  pos_PG  pos_SF  pos_SG
0   23  63   0   847   66   141  ...      0      0       0       0       1       0
1   20  81  20  1197   93   185  ...      0      0       0       0       0       0
2   27  53  12   961  143   275  ...      0      0       1       0       0       0
3   28  73  73  2552  464  1011  ...      0      0       0       0       0       1
4   25  56  30   951  136   249  ...      0      0       0       0       0       0

[5 rows x 31 columns]

In [0]:
normalized_nba_feature = preprocessing.normalize(df_x)

In [0]:
X_train, X_test, y_train, y_test = train_test_split(
 normalized_nba_feature, df_y, train_size=0.75, test_size=0.25, random_state = 100)

In [29]:
for K in range(25):
    K_value = K+1
    neigh = KNeighborsClassifier(n_neighbors = K_value, weights='distance', algorithm='auto',metric='minkowski')
    neigh.fit(X_train, y_train)
    y_pred = neigh.predict(X_test)
    print("Accuracy is ", accuracy_score(y_test,y_pred)*1000,"% for K-Value:",K_value)

Accuracy is  57.85123966942149 % for K-Value: 1
Accuracy is  57.85123966942149 % for K-Value: 2
Accuracy is  66.11570247933885 % for K-Value: 3
Accuracy is  57.85123966942149 % for K-Value: 4
Accuracy is  49.586776859504134 % for K-Value: 5
Accuracy is  49.586776859504134 % for K-Value: 6
Accuracy is  57.85123966942149 % for K-Value: 7
Accuracy is  57.85123966942149 % for K-Value: 8
Accuracy is  57.85123966942149 % for K-Value: 9
Accuracy is  57.85123966942149 % for K-Value: 10
Accuracy is  66.11570247933885 % for K-Value: 11
Accuracy is  66.11570247933885 % for K-Value: 12
Accuracy is  66.11570247933885 % for K-Value: 13
Accuracy is  66.11570247933885 % for K-Value: 14
Accuracy is  66.11570247933885 % for K-Value: 15
Accuracy is  66.11570247933885 % for K-Value: 16
Accuracy is  66.11570247933885 % for K-Value: 17
Accuracy is  57.85123966942149 % for K-Value: 18
Accuracy is  57.85123966942149 % for K-Value: 19
Accuracy is  57.85123966942149 % for K-Value: 20
Accuracy is  49.586776859504134 % for K-Value: 21
Accuracy is  41.32231404958678 % for K-Value: 22
Accuracy is  41.32231404958678 % for K-Value: 23
Accuracy is  41.32231404958678 % for K-Value: 24
Accuracy is  41.32231404958678 % for K-Value: 25

66.11% accuracy on K = 3,11,12,13,14,15,16,17. A larger value of K will lead to greater amount of execution time & hence underfitting. The small value of K will lead to overfitting. There is no such guaranteed way to find the best value of K. So, for quick run K = 3.